html { width:100%; height:100%; margin:0; padding: 0; }
body { width:100%; height:100%; margin:0; padding:0;  }
h1,h2,h3,p
{
    margin: 0;
    padding: 0;
}
.clear
{
    clear: both;
}
/*--------------COLORS OF BACKGROUNDS

MENU: #323232;
PORTFOLIO: color="#ffffff"
AUTHOR:color="#2eb398"
CONTACT:#323232;
FOOTER:#2eb398;
SEND BUTTOM: #2eb398;
A:HOVER:#2f9f88;
FONT-MENU:#bfbfbf;
FONT-ILLUSTRATOR:#20816d;
FONT-AUTHOR:#d7fcf5;
FONT-GET-IN-TOUCH:e0e0e0;
FONT-AFTER-GET-IN-TOUCH:#bebebe;
FONT-FORM:#b1b1b1;


*/
.without-dot
{
    list-style: none;
}

.space_left
{
    margin-left: 12px;
}
.space_right
{
    margin-right: 12px;
}

ul, li {
    margin: 0;
    box-sizing: border-box;
    float: left;
    padding: 0;
    color:#b1b1b1;

    
}
a {
    text-decoration: none;
    color: #bfbfbf;
    
    font-family: 'Lato', sans-serif;
	font-size: 10.5px;
	font-weight: 700;

    
}
a:hover{
    color: #2f9f88;
}
.margin-start
{
    padding: 0;
    margin: 0;
}
/*---------------------BACKGROUNDS/WIDTH/HEIGHT OF DIV-----------------*/
/*----------------MENU------------*/
#menu
{
    padding: 0;
    margin: 0;
    height: 67px;
    background-color:  #323232; 
}
.menu-left
{
    padding: 0;
    margin: 0;
    height: 67px;
    width: 168px;
    background-color: transparent;
    margin-left: 70%;
    padding-top: 29px;
    box-sizing: border-box;
}
.menu-right
{
      padding: 0;
    margin: 0;
    height: 67px;
    width: 170px;
    background-color: transparent;
    margin-left: 10px;
    padding-top: 29px;
    box-sizing: border-box;
}
.menu-center
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 67px;
    
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
        
}
/*------------------PORTFOLIO----------------*/
#portfolio
{
    
    padding: 0;
    margin: 0;
    height: 720px;
    background-color: #ffffff; 
}
.portfolio-picture
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 720px;
    background-image: url(../img/Portfolio.png);
    background-repeat: no-repeat;
    background-position: center;
}
/*-----------------AUTHOR-------------*/
#author
{
    
    padding: 0;
    margin: 0;
    height: 341px;
    background-color: #2eb398;
}
.author
{
    height: 211px;
    margin-top: 64px;
   
}
.author-photo
{
    padding: 0;
    margin: 0;
    width: 184px;
    height: 211px;
     background-color: #2eb398;
  
    border: none;
    background-image: url(../img/men.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 225px;
    
}
.author-description
{
    width: 620px;
    height: 211px;
    padding: 0;
    margin: 0;
    background-color: #2eb398;

}
.author-title
{
    font-size: 30px;
	font-family:'Roboto', sans-serif;
	color: #d7fcf5;
}
.author-subtitle
{
    font-size: 18px;
	font-family:'Roboto', sans-serif;
	color: #20816d;
}
.author-paragraph
{
    
	color: #bdefe4;
	font-size: 12px;
	font-family: 'Lato', sans-serif; 
    
}
/*----------------CONTACT-----------*/
#contact
{
    
    padding: 0;
    margin: 0;
    height: 565px;
    background-color: #323232;

}
.contact-top
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 125px;
  
   
    box-sizing: border-box;
}
.contact-title
{
        
    
    
	font-size: 30px;
	font-family: 'Roboto', sans-serif; 
	color: #e0e0e0;
	font-weight: 700;
  
    
    
}
.contact-subtitle
{
    font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #bebebe;
  
    
	box-sizing:border-box;
}
/*--------------FORMULARZ-----------*/
.contact-form
{
    padding: 0;
    margin: 0;
    height: 447px;
    width: 100%;
    padding-left: 225px;
    box-sizing: border-box;
 
    margin-top: 67px;
}
input[type="text"],

input[type="email"],

select,
textarea[name="tresc"]
{
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display: block;
    font-family: 'Lato', sans-serif;
    padding: 0;

}
textarea[name="tresc"]
{
	width: 584px;
	height: 151px;
	background:#454545;
    font-size:12px;
  	font-family: 'Lato', sans-serif;
    border: none;
    color: #bebebe;
    margin-top: 13px;
    padding-left: 14px;
    padding-top: 14px;
    box-sizing:border-box;
}

input[type="text"],
input[type="email"]
  { 
    padding-left: 14px;
    vertical-align:top;
    border: none;
    margin-bottom: 16px;
    height:38px;
    background:#454545;
    font-size:12px;
    font-family:'Lato', sans-serif;
    color:#bebebe;
    display:block;
    width:580px;
    box-sizing:border-box;

}
input[type="submit"]
{
	height: 38px;
	width: 90px;
	color: #b4eadf;
	background-color: #2eb398;
	border:none;
	font-family: 'Lato', sans-serif;
	float: right;
	margin-top: 17px;
	font-size: 12px;
	margin-right: 30px;
}
form[name="myBasicForm"]
{
    
    border: none;
    margin-top: 13px;
}
.contact-comment
{

	margin: 0;
	padding: 0;
	width: 201px;
	height: 229px;
    margin-top: 130px;
   
    border: none;
}
.contact-comment-title
{
	line-height: 20px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #e0e0e0;
	font-weight: 400;
	word-spacing: 9px;
	margin: 0;
    

}
.contact-comment-info
{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #e0e0e0;
	line-height: 25px;
	margin-top: 19px;

}
#footer
{
    
    padding: 0;
    margin: 0;
    height: 42px;
    background-color: #222222;
}
.footer-paragraph

{
	width: 100%;
	height: 44px;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	box-sizing: border-box;
	padding-left: 20px;


}
/*-----------------------------RWD--------------------------------------*/

@media(max-width:1024px){
    
    /*-----------------AUTHOR-------------*/
#author
{
    
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #2eb398;
}
.author
{
    height: 100%;
    width: 100%;
   
}
.author-photo
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 220px;;
    background-color: #2eb398;
  
    border: none;
    background-image: url(../img/men.png);
    background-repeat: no-repeat;
    background-position: center;
   
    
}
.author-description
{
    width: 80%;
    height: 50%;
    padding: 0;
    margin: 0;
    background-color: #2eb398;
    padding-left: 20%;
    box-sizing: border-box;

}
.author-title
{
    font-size: 30px;
	font-family:'Roboto', sans-serif;
	color: #d7fcf5;
    text-align: center
}
.author-subtitle
{
    font-size: 18px;
	font-family:'Roboto', sans-serif;
	color: #20816d;
    text-align: center;
}
.author-paragraph
{
    
    padding: 20px;
	color: #bdefe4;
	font-size: 12px;
	font-family: 'Lato', sans-serif; 
    text-align: center;
    
}
/*----------------CONTACT-----------*/
#contact
{
    
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #323232;

}
.contact-top
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 125px;
  
   
    box-sizing: border-box;
}
.contact-title
{
        
    
    
	font-size: 30px;
	font-family: 'Roboto', sans-serif; 
	color: #e0e0e0;
	font-weight: 700;
  
    
    
}
.contact-subtitle
{
    font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #bebebe;
    visibility: hidden;
    
  
    
	box-sizing:border-box;
}
/*--------------FORMULARZ-----------*/
.contact-form
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
    box-sizing: border-box;
 
    margin-top: 67px;
    background-color: #323232;
    padding: 30px;
    padding-left: 20%;
}
input[type="text"],

input[type="email"],

select,
textarea[name="tresc"]
{
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display: block;
    font-family: 'Lato', sans-serif;
    padding: 0;

}
textarea[name="tresc"]
{
	width: 80%;;
	height: 151px;
	background:#454545;
    font-size:12px;
  	font-family: 'Lato', sans-serif;
    border: none;
    color: #bebebe;
    margin-top: 13px;
    padding-left: 14px;
    padding-top: 14px;
    box-sizing:border-box;
}

input[type="text"],
input[type="email"]
  { 
    padding-left: 14px;
    vertical-align:top;
    border: none;
    margin-bottom: 16px;
    height:38px;
    background:#454545;
    font-size:12px;
    font-family:'Lato', sans-serif;
    color:#bebebe;
    display:block;
    width:80%;
    box-sizing:border-box;
      

}
input[type="submit"]
{
	height: 38px;
	width: 80%;
	color: #b4eadf;
	background-color: #2eb398;
	border:none;
	font-family: 'Lato', sans-serif;
    margin: 0;
    vertical-align:top;
	margin-top: 17px;
	font-size: 12px;
	display: block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    float: none;
    
}
form[name="myBasicForm"]
{
    
    border: none;
    margin-top: 13px;
    
}
.contact-comment
{
   
	margin: 0;
	padding: 0;
	width: 80%;
	height: 100%;
    padding: 31px;
    padding-left: 20%;
    box-sizing: border-box;
    text-align: left;
    background-color: #323232;
    position: relative;
    border: none;
}
.contact-comment-title
{
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #e0e0e0;
	font-weight: 400;
	word-spacing: 9px;
	margin: 0;
    

}
.contact-comment-info
{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #e0e0e0;
	

}
/*    ---------------------------MENU---------------*/
#menu
{
    padding: 0;
    margin: 0;
    height: 100px;
    background-color:  #323232; 
}
.menu-left
{
    padding: 0;
    margin: 0;
    height: 100px;
    width: 50%;
    background-color: transparent;
    visibility: hidden;
    
    box-sizing: border-box;
}
.menu-right
{
      padding: 0;
    margin: 0;
    height: 100px;
    width: 170px;
    background-color: transparent;
    visibility: hidden;
  
    box-sizing: border-box;
}
.menu-center
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
        
}

/*------------------PORTFOLIO----------------*/
#portfolio
{
    
    padding: 0;
    margin: 0;
    height: 720px;
    background-color: #ffffff; 
}
.portfolio-picture
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 715px;
    background-image: url(../img/Portfolio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding: 20px;
    box-sizing: border-box;
}
    
}
/*---------------------FOR SMALL DEVICES LIKE IP6, SAMSUNG S5*/
@media(min-width:1024px){
        
    /*-----------------AUTHOR-------------*/
#author
{
    
    padding: 0;
    margin: 0;
    height: 320px;
    background-color: #2eb398;
}
.author
{
    height: 320px;;
    width: 100%;
    
}
.author-photo
{
    padding: 0;
    margin: 0;
    width: 80%;
    height: 220px;;
    background-color: #2eb398;
    margin-left: 15%;
    border: none;
    background-image: url(../img/men.png);
    background-repeat: no-repeat;
    background-position: center;
   
    
}
.author-description
{
    width: 100%;
    height: 220px;
    padding: 0;
    margin: 0;
    background-color: #2eb398;
    
    box-sizing: border-box;
    
}
.author-title
{
    font-size: 30px;
	font-family:'Roboto', sans-serif;
	color: #d7fcf5;
    text-align: left;
}
.author-subtitle
{
    font-size: 18px;
	font-family:'Roboto', sans-serif;
	color: #20816d;
    text-align: left;
}
.author-paragraph
{
    
    
	color: #bdefe4;
	font-size: 12px;
	font-family: 'Lato', sans-serif; 
    text-align: left ;
    padding-top: 13px;
    padding-right: 140px;
    box-sizing: border-box;
    line-height: 26px;
   
    
}
/*----------------CONTACT-----------*/
#contact
{
    
    padding: 0;
    margin: 0;
    height: 584px;
    background-color: #323232;

}
.contact-top
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 125px;
  
   
    box-sizing: border-box;
}
.contact-title
{
        
    
    
	font-size: 30px;
	font-family: 'Roboto', sans-serif; 
	color: #e0e0e0;
	font-weight: 700;
  
    
    
}
.contact-subtitle
{
    font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #bebebe;
    visibility: hidden;
    
  
    
	box-sizing:border-box;
}
/*--------------FORMULARZ-----------*/
.contact-form
{
    padding: 0;
    margin: 0;
    height: 480px;
    width: 100%;
    
    box-sizing: border-box;
 
    margin-top: 67px;
    background-color:  #323232;

    
    padding-left: 15%;
}
input[type="text"],

input[type="email"],

select,
textarea[name="tresc"]
{
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display: block;
    font-family: 'Lato', sans-serif;
    padding: 0;

}
textarea[name="tresc"]
{
	width: 95%;
	height: 151px;
	background:#454545;
    font-size:12px;
  	font-family: 'Lato', sans-serif;
    border: none;
    color: #bebebe;
    margin-top: 13px;
    padding-left: 14px;
    padding-top: 14px;
    box-sizing:border-box;
}

input[type="text"],
input[type="email"]
  { 
    padding-left: 14px;
    vertical-align:top;
    border: none;
    margin-bottom: 16px;
    height:38px;
    background:#454545;
    font-size:12px;
    font-family:'Lato', sans-serif;
    color:#bebebe;
    display:block;
    width:95%;
    box-sizing:border-box;
      

}
input[type="submit"]
{
	height: 38px;
	width: 95%;
	color: #b4eadf;
	background-color: #2eb398;
	border:none;
	font-family: 'Lato', sans-serif;
    margin: 0;
    vertical-align:top;
	margin-top: 17px;
	font-size: 12px;
	display: block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    float: none;
    
}
form[name="myBasicForm"]
{
    
    border: none;
    margin-top: 13px;
    
}
.contact-comment
{
   
	margin: 0;
	padding: 0;
	width: 53%;
	height: 229px;
    
    padding-top: 131px;
    box-sizing: border-box;
    text-align: left;
    background-color: #323232;
   
    border: none;
}
.contact-comment-title
{
	border: none;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #e0e0e0;
	font-weight: 400;
	word-spacing: 9px;
	margin: 0;
    

}
.contact-comment-info
{
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	color: #e0e0e0;
	

}
/*    ---------------------------MENU---------------*/
#menu
{
    padding: 0;
    margin: 0;
    height: 100px;
    background-color:  #323232; 
}
.menu-left
{
    padding: 0;
    margin: 0;
    height: 67px;
    width: 100%;
    background-color: transparent;
    padding-top: 10%;
    margin-left: 75%;
    box-sizing: border-box;
  
}
.menu-right
{
      padding: 0;
    margin: 0;
   
    width: 100%;
 
    padding-top: 12%;
    margin-left: 0;
    margin-left: -5%;
    box-sizing: border-box;
    background-color: transparent;
}
.menu-center
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
        
}

/*------------------PORTFOLIO----------------*/
#portfolio
{
    
    padding: 0;
    margin: 0;
    height: 720px;
    background-color: #ffffff; 
}
.portfolio-picture
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 720px;
    background-image: url(../img/Portfolio.png);
    background-repeat: no-repeat;
    background-position: center;
    
    padding: 20px;
    box-sizing: border-box;
}
}